name: Python package

on:
    push:
        branches: [ "master" ]
    pull_request:
        branches: [ "master" ]

jobs:
    pre_test:
        runs-on: ubuntu-latest
        outputs:
            should_skip: ${{ steps.skip_check.outputs.should_skip }}
        steps:
        - id: skip_check
          uses: fkirc/skip-duplicate-actions@v5
          with:
              do_not_skip: '["pull_request"]'
    test:
        needs: pre_test
        if: needs.pre_test.outputs.should_skip != 'true'
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                python-version: ["3.7", "3.8", "3.9", "3.10"]
        steps:
        - uses: actions/checkout@v3
        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v4
          with:
              python-version: ${{ matrix.python-version }}
        - name: Install dependencies
          run: |
              python -m pip install --upgrade pip
              python -m pip install pdm
              pdm install
        - name: Test with tox
          run: pdm run test-all
